// Cerulean 3.0.0
// Bootswatch
// -----------------------------------------------------


// Navbar =====================================================================



// Buttons ====================================================================



// Typography =================================================================

h1, h2, h3, h4, h5, h6 {
	color: #317EAC;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.panel-primary {

	.panel-title {
		color: #fff;
	}
}

.panel-success {

	.panel-heading {
		background-color: $brand-success;
		color: #fff;
	}
	
	.panel-title {
		color: #fff;
	}
}

.panel-warning {

	.panel-heading {
		background-color: $brand-warning;
		color: #fff;
	}

	.panel-title {
		color: #fff;
	}
}

.panel-danger {

	.panel-heading {
		background-color: $brand-danger;
		color: #fff;
	}
	
	.panel-title {
		color: #fff;
	}
}

.panel-info {

	.panel-heading {
		background-color: $brand-info;
		color: #fff;
	}

	.panel-title {
		color: #fff;
	}
}